<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>LocationServicesEnabled</key>
			<data>
			AQ==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			Rg==
			</data>
			<key>SystemAudioVolumeDB</key>
			<data>
			Bg==
			</data>
			<key>boot-args</key>
			<string>igfxonln=1 debug=0x100 swd_panic=1 forceRenderStandby=0 keepsyms=1 -wegnoegpu</string>
			<key>csr-active-config</key>
			<data>
			/w8AAA==
			</data>
			<key>fmm-computer-name</key>
			<data>
			RGFyaXVz4oCZcyBpTWFj
			</data>
			<key>prev-lang:kbd</key>
			<data>
			ZW4tR0I6MA==
			</data>
			<key>run-efi-updater</key>
			<data>
			Tm8A
			</data>
		</dict>
		<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
		<dict>
			<key>BootOrder</key>
			<data>
			AAA=
			</data>
		</dict>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
